.App {
  height: 100%;
  $hue: 0;
  $sat: 0%;
  --bg-dark: hsl(#{$hue}, #{$sat}, 0%);
  --bg: hsl(#{$hue}, #{$sat}, 5%);
  --bg-light: hsl(#{$hue}, #{$sat}, 10%);
  --border: hsl(#{$hue}, #{$sat}, 40%);
  --text-muted: hsl(#{$hue}, #{$sat}, 70%);
  --text: hsl(#{$hue}, #{$sat}, 95%);
  background: var(--bg-dark);
  color: var(--text);

  input {
    background: var(--bg);
    color: var(--text);
  }
}

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 { 
    margin: auto;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  > :first-child,
  > :last-child {
    flex: 1;
  }

  input {
    color: inherit;
    border-radius: 10px;
    border: 1px solid var(--border);
    cursor: pointer;
    background: var(--bg);
    color: var(--text);

    &:disabled {
      color: var(--bg-light);
      border-color: var(--bg-light);
      background: inherit;
      cursor: not-allowed !important;
    }
  }
}

.divider {
  display: flex;
  flex-direction: column;
}

.vert_bar {
  flex: 1;
  background: linear-gradient(var(--text), var(--text)) no-repeat center/2px 100%;
  margin: 10px 0;
}

.option {
  text-align: center;
  margin: auto;

  input {
    font-size: 1.4rem;
  }

}

