@import './colors.scss';

.card {
  aspect-ratio: 9/16;
  background: $grey;
  width: 6rem;
  border: 2px solid black;
  border-radius: 1rem;

  &[data-color="Red"] {
    background: $red;
  }

  &[data-color="Yellow"] {
    background: $yellow;
  }

  &[data-color="Green"] {
    background: $green;
  }

  &[data-color="Blue"] {
    background: $blue;
  }
}
