@use './colors';

$aspect-ratio: 0.5625;
$width: 6rem;

@mixin card-oval {
  width: 80%;
  height: 75%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 25deg;

  & > span {
    font-weight: 900;
    rotate: -40deg;
  }
}

.card {
  aspect-ratio: $aspect-ratio;
  width: $width;
  background: colors.$back;
  border: 2px solid var(--border);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include colors.data-backgrounds;

  // this is just for card backs
  & > .logo {
    background: colors.$red;
    @include card-oval;

    & > span {
      font-size: 2rem;
      color: colors.$logo-font-color;
    }
  }

  & > .oval {
    background: colors.$back;
    @include card-oval;

    & > span {
      font-size: 3rem;
      color: var(--data-color);
    }
  }
}

.clickable {
  cursor: pointer;
}

.disabled {
  filter: brightness(30%);
}
