@use './colors';

$aspect-ratio: 0.5625;
$width: 6rem;

.card {
  aspect-ratio: $aspect-ratio;
  width: $width;
  background: colors.$grey;
  border: 2px solid black;
  border-radius: 1rem;
  @include colors.data-backgrounds;
}

.clickable {
  cursor: pointer;
}

.disabled {
  filter: brightness(30%);
}
