@use './colors';

$aspect-ratio: 0.5625;
$width: 6rem;
$oval-rotation: 25deg;


@mixin card-oval {
  width: 80%;
  height: 75%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: $oval-rotation;

  & > span {
    font-weight: 900;
    rotate: 15deg - $oval-rotation;
  }
}

.card {
  aspect-ratio: $aspect-ratio;
  width: $width;
  background: colors.$back;
  border: 2px solid var(--border);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include colors.data-backgrounds;

  & > .corner {
    position: absolute;
    color: var(--text-muted);
    $padding: 0.5rem;

    &:first-child {

      top: $padding;
      left: $padding;
    }

    &:nth-child(2) {
      bottom: $padding;
      right: $padding;
      rotate: 180deg;
    }
  }

  // this is just for card backs
  & > .logo {
    background: colors.$red;
    @include card-oval;

    & > span {
      font-size: 2rem;
      color: colors.$logo-font-color;
    }
  }

  & > .oval {
    background: colors.$back;
    @include card-oval;

    & > span {
      font-size: 3rem;
      color: var(--data-color);
    }
  }

  & > .wild_oval {
    @include card-oval;
    background: conic-gradient(
      from -90deg - $oval-rotation,
      #{colors.$red} 0deg 90deg + $oval-rotation,
      #{colors.$blue} 90deg + $oval-rotation 180deg,
      #{colors.$green} 180deg 270deg + $oval-rotation,
      #{colors.$yellow} 270deg + $oval-rotation 360deg
    );

    & > span {
      font-size: 2.5rem;
    }
  }
}

.clickable {
  cursor: pointer;
}

.disabled {
  filter: brightness(30%);
}
