@import './colors.scss';

.color_picker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  background: $grey;
  translate: -50% -50%;
}

.choices {
  display: grid;
  $size: 2rem;
  grid-template-columns: repeat(2, $size);
  justify-content: center;

  .choice {
    width: $size;
    height: $size;
    cursor: pointer;
    @include data-backgrounds;
  }
}
