@use './colors';

.color_picker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  background: colors.$grey;
  translate: -50% -50%;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid black;
}

.choices {
  display: grid;
  $size: 3rem;
  grid-template-columns: repeat(2, $size);
  justify-content: center;

  .choice {
    width: $size;
    height: $size;
    cursor: pointer;
    @include colors.data-backgrounds;

    &:first-child {
      border-radius: 100% 0 0 0;
    }

    &:nth-child(2) {
      border-radius: 0 100% 0 0;
    }

    &:nth-child(3) {
      border-radius: 0 0 0 100%;
    }

    &:nth-child(4) {
      border-radius: 0 0 100% 0;
    }
  }

}
