@use './colors';

.color_picker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  background: var(--bg-light);
  translate: -50% -50%;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid var(--border);

  h2 {
    margin-top: 0;
  }

  .cancel_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 0.5rem;

    .cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: colors.$red;
      $size: 1.5rem;
      width: $size;
      height: $size;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}

.choices {
  display: grid;
  $size: 3rem;
  grid-template-columns: repeat(2, $size);
  justify-content: center;

  .choice {
    width: $size;
    height: $size;
    cursor: pointer;
    @include colors.data-backgrounds;

    &:first-child {
      border-radius: 100% 0 0 0;
    }

    &:nth-child(2) {
      border-radius: 0 100% 0 0;
    }

    &:nth-child(3) {
      border-radius: 0 0 0 100%;
    }

    &:nth-child(4) {
      border-radius: 0 0 100% 0;
    }
  }

}
