@use './input';
@use './CardComponent.module' as card;

.name_input{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;

    h1 {
      font-size: 3rem;
    }

    input {
      @include input.standard-input;
      font-size: 1.8rem;
    }
}

.other_players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  --player-count: attr(data-player-count type(<number>));

  & > .other_player {

    & > .other_player_hand {
      position: relative;
      --card-count: attr(data-card-count type(<number>));
      --card-area: clamp(0px, calc(1rem * var(--card-count)), 20vw);
      --spacing: calc(var(--card-area) / var(--card-count));
      --max-rotation: 15deg;
      --rotation-interval: calc(var(--max-rotation) * 2 / var(--card-count));

      & > div {
        position: absolute;
        top: 0;
        left: 0;

        @for $i from 1 through 100 {
          &:nth-child(#{$i}) {
            --scalar: calc((#{$i} - var(--card-count) / 2) - 0.5);
            --rotation: calc(var(--scalar) * var(--rotation-interval));
            transform:
              translateX(calc(var(--scalar) * var(--spacing)))
              translateY(calc(cos(var(--rotation) * 2) * var(--spacing) * -0.8 ))
              rotateZ(var(--rotation));
          }
        }
      }
    }
  }
}

.top_card_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 55vh;
  left: 50vw;
  translate: -50% -50%;

  & > h2 {
    &[data-your-turn="true"] {
      color: var(--text);
    }

    &[data-your-turn="false"] {
      color: var(--text-muted);
    }
  }

  & > .top_card {
    position: relative;
    width: card.$width;
    aspect-ratio: card.$aspect-ratio;

    & > div {
      position: absolute;
      transform-origin: center;
      transform: rotate(attr(data-rotation deg));
    }
  }
}

.hand {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50vw;
  --card-count: attr(data-card-count type(<number>));
  --card-area: clamp(0px, calc(5rem * var(--card-count)), 80vw);
  --spacing: calc(var(--card-area) / var(--card-count));
  --max-rotation: 45deg;
  --initial-rotation-interval: calc(var(--max-rotation) * 2 / var(--card-count));
  --rotation-interval: var(--initial-rotation-interval);
  --scale: 1;
  --translateY: 0px;

  & > div {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: -50% 50%;
    transition: transform ease-in 0.2s;

    &:hover {
      --scale: 1.2;
      --translateY: -40%;
      --rotation-interval: calc(var(--initial-rotation-interval) / 2);
      z-index: 3;
    }

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        --scalar: calc((#{$i} - var(--card-count) / 2) - 0.5);
        --rotation: calc(var(--scalar) * var(--rotation-interval));
        transform:
          translateX(calc(var(--scalar) * var(--spacing)))
          translateY(calc(var(--translateY) + cos(var(--rotation) * 2) * var(--spacing) * -0.8 ))
          rotate(var(--rotation))
          scale(var(--scale));
      }
    }
  }
}

.draw_button {
  position: absolute;
  width: 10vw;
  right: 2vw;
  bottom: 2vh;
  font-size: 2rem;
}

.popup {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 20vh;
  left: 20vw;
  text-align: center;
  background: var(--bg);
  border: solid 1px var(--border);
  border-radius: 1.5rem;

  button {
    border-radius: 10px;
    border: 1px solid var(--border);
    cursor: pointer;
    background: var(--bg-light);
    color: var(--text);
    font-size: 2rem;
  }
}
