.top_card {
  position: absolute;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
}

.hand {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50vw;
  --card-count: attr(data-card-count type(<number>));
  --card-area: clamp(0px, calc(5rem * var(--card-count)), 80vw);
  --spacing: calc(var(--card-area) / var(--card-count));
  --scale: 1;
  --translateY: 0;

  & > div {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: -50% 0;
    transition: transform ease-in 0.2s;

    &:hover {
      --scale: 1.2;
      --translateY: -20%;
      z-index: 3;
    }

    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        transform:
          translateX(calc(($i - var(--card-count) / 2) * var(--spacing)))
          translateY(var(--translateY))
          scale(var(--scale));

      }
    }
  }
}
