$top: 10vh;


.toggle {
  position: absolute;
  background: #ddd;
  top: $top;
  left: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 20vw;
  top: $top;
  left: 0;
  background: #333;
  translate: -100% 0;
  transition: translate 0.3s ease-in;

  &.active {
    translate: none;
  }

  .messages {
    flex-grow: 100;
    overflow-y: scroll;
  }
}
