$top: 10vh;
$roundness: 1.5rem;

@mixin rounded-top {
  &[data-direction="left"] {
    border-top-right-radius: $roundness;
  }

  &[data-direction="right"] {
    border-top-left-radius: $roundness;
  }
}

@mixin rounded-bottom {
  &[data-direction="left"] {
    border-bottom-right-radius: $roundness;
  }

  &[data-direction="right"] {
    border-bottom-left-radius: $roundness;
  }
}

@mixin rounded {
  @include rounded-top;
  @include rounded-bottom;
}

.close {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: var(--bg);
  color: var(--text);
}

.toggle {
  position: absolute;
  background: var(--bg-light);
  top: $top;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--border);
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &[data-direction="left"] {
    left: 0;
    border-left: none;
  }

  &[data-direction="right"] {
    right: 0;
    border-right: none;
  }

  @include rounded;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh - 2 * $top;
  width: 20vw;
  top: $top;
  background: var(--bg-light);
  transition: translate 0.3s ease-in;
  border: 1px solid var(--border);
  overflow: hidden;

  &[data-direction="left"] {
    left: 0;
    translate: -100% 0;
    border-left: none;
  }

  &[data-direction="right"] {
    right: 0;
    translate: 100% 0;
    border-right: none;
  }

  &.active {
    translate: none;
  }

  @include rounded;
}
